@use "../variables" as variables;
@use "../mixins/shadows" as shadows;

.tribute-container {
  @include shadows.nice-shadow(2);

  color: variables.$component-color;
  line-height: variables.$line-height-base;
  font-size: variables.$font-size-base;
  background: variables.$body-bg;
  border-color: variables.$input-border;
  border-radius: variables.$border-radius-base;
  padding: 2px;

  ul {
    margin: 0;
    padding: 0;
    background: transparent;
  }

  li {
    padding-top: variables.$input-padding-vertical;
    padding-right: variables.$input-padding-horizontal;
    padding-bottom: variables.$input-padding-vertical;
    padding-left: variables.$input-padding-horizontal;

    &.highlight {
      background: variables.$component-active-bg;
      color: variables.$component-active-color;
      font-weight: variables.$font-weight-normal;
    }
  }
}
